*{
    margin: 0px;
    padding:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    background-color:#222 ;
    color: white;
    height: 70px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.logo{
   font-size: 30px;
   padding-left: 10px;
   cursor: not-allowed;
   font-family:cursive;
}
.extrabuttons button{
    background-color:#222 ;
    color: white;
    border : 0px;
    font-size: 20px;
    font-weight: 700;
    gap: 40px;
    /* justify-content:space-between; */
}
#about{
   /* padding-top: 15px;
   margin-left: 70px; */
}
#booktable{
    /* margin-left: 30px; */
}
.navbut{
     height: 100%;
     width : 60px;
     align-items: center;
     /* margin-left:auto ;
     padding-top: 40px; */
}
.cart button{
    height: 30px;
    width: 30px;
}
.heading{
    height: 90px;
    width: auto;
    background:  linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
              url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    display: block;
    /* margin-top: 15px; */
    color: gainsboro;
    padding-left: 20px;
    padding-top: 30px;
}
#ourmenu{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.pagebuttons{
    display:flex;
    margin-top:15px;
    justify-content: center;
    gap:20px;
}
.pagebuttons button{
    height: 40px;
    width: 60px;
    border : 1px;
    border-radius: 10px 20px;
    color: black;
    /* background-color: orange; */
    cursor: pointer;
    transition: all,0.3s,ease;
}
.pagebuttons button:hover{
    transform: scale(1.08);
    background-color: orange;
}
.pagebuttons button.active{
    background-color: orange;
}
.menu{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    gap:10px;
}









