*{
    margin: 0px;
    padding:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    background-color: #222;
    color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
   font-size: 30px;
   padding-left: 20px;
   cursor: not-allowed;
}
.cart{
     height: 100%;
     width : 60px;
     padding-top: 40px;
}
.cart button{
    height: 30px;
    width: 30px;
}
.menu{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #222;
}
.pagebuttons{
    display:flex;
    margin-top:25px;
    justify-content: center;
    gap:20px;
}
.pagebuttons button{
    height: 40px;
    width: 60px;
    border : 1px;
    border-radius: 10px 20px;
    color: white;
    background-color: orange;
    cursor: pointer;
    transition: all,0.3s,ease;
}
.pagebuttons button:hover{
    transform: scale(1.05);
    background-color: orangered;
}






